<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header>
    <link href="/static/style.css" rel="stylesheet" />
</header>

<body>

<!--Вставка фрагмента-->
<div th:replace="~{/fragments/header}"></div>

<br>
<form action="/add">
    <label class="form-check-label"> Введите "id"<input name = "id"> </label></br>
    <label> Введите "brand" <input name = "brand"> </label></br>
    <label> Введите "typeEngine"<input name = "typeEngine"> </label></br>
    <input type="submit" id="btn1">

</form>
<div class="conrainer">
    <table>
        <th:block th:each="car: ${allCars}">
            <tr>
                <td th:text="${car.id}">...</td>
                <td th:text="${car.brand}">...</td>
                <td th:text="${car.typeEngine}">...</td>
            </tr>

        </th:block>
    </table>

</div>
</body>
</html>